openapi: 3.0.3
info:
  title: remediation.proto Audio Secrets API
  version: version not set
servers:
- url: https://api.together.xyz/v1
security:
- bearerAuth: []
tags:
- name: Secrets
paths:
  /deployments/secrets:
    get:
      description: Retrieve all secrets in your project
      summary: Get the list of project secrets
      tags:
      - Secrets
      x-codeSamples:
      - lang: Python
        label: Together AI SDK (v2)
        source: 'from together import Together

          client = Together()


          secrets = client.beta.jig.secrets.list()

          print(secrets)

          '
      - lang: TypeScript
        label: Together AI SDK (TypeScript)
        source: 'import Together from "together-ai";

          const client = new Together();


          const secrets = await client.beta.jig.secrets.list();

          console.log(secrets);

          '
      - lang: JavaScript
        label: Together AI SDK (JavaScript)
        source: 'import Together from "together-ai";

          const client = new Together();


          const secrets = await client.beta.jig.secrets.list();

          console.log(secrets);

          '
      responses:
        '200':
          description: List of secrets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSecretsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
    post:
      description: Create a new secret to store sensitive configuration values
      summary: Create a new secret
      tags:
      - Secrets
      x-codeSamples:
      - lang: Python
        label: Together AI SDK (v2)
        source: 'from together import Together

          client = Together()


          client.beta.jig.secrets.create(name="my-secret", value="my-value")

          '
      - lang: TypeScript
        label: Together AI SDK (TypeScript)
        source: 'import Together from "together-ai";

          const client = new Together();


          await client.beta.jig.secrets.create({ name: "my-secret", value: "my-value" });

          '
      - lang: JavaScript
        label: Together AI SDK (JavaScript)
        source: 'import Together from "together-ai";

          const client = new Together();


          await client.beta.jig.secrets.create({ name: "my-secret", value: "my-value" });

          '
      - lang: Shell
        label: cURL
        source: "curl -X POST \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      --data '{ \"name\": \"my-secret\", \"value\": \"my-value\" }' \\\n      https://api.together.ai/v1/deployments/secrets\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretRequest'
        description: Secret configuration
        required: true
      responses:
        '200':
          description: Secret created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponseItem'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
  /deployments/secrets/{id}:
    delete:
      description: Delete an existing secret
      summary: Delete a secret
      tags:
      - Secrets
      x-codeSamples:
      - lang: Python
        label: Together AI SDK (v2)
        source: 'from together import Together

          client = Together()


          client.beta.jig.secrets.delete("my-secret")

          '
      - lang: TypeScript
        label: Together AI SDK (TypeScript)
        source: 'import Together from "together-ai";

          const client = new Together();


          await client.beta.jig.secrets.delete("my-secret");

          '
      - lang: JavaScript
        label: Together AI SDK (JavaScript)
        source: 'import Together from "together-ai";

          const client = new Together();


          await client.beta.jig.secrets.delete("my-secret");

          '
      - lang: Shell
        label: cURL
        source: "curl -X DELETE \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/deployments/secrets/my-secret\n"
      parameters:
      - name: id
        in: path
        required: true
        schema:
          description: Secret ID or name
          type: string
      responses:
        '200':
          description: Secret deleted successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Secret not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
    get:
      description: Retrieve details of a specific secret by its ID or name
      summary: Get a secret by ID or name
      tags:
      - Secrets
      x-codeSamples:
      - lang: Python
        label: Together AI SDK (v2)
        source: 'from together import Together

          client = Together()


          secret = client.beta.jig.secrets.retrieve("my-secret")

          print(secret)

          '
      - lang: TypeScript
        label: Together AI SDK (TypeScript)
        source: 'import Together from "together-ai";

          const client = new Together();


          const secret = await client.beta.jig.secrets.retrieve("my-secret");

          console.log(secret);

          '
      - lang: JavaScript
        label: Together AI SDK (JavaScript)
        source: 'import Together from "together-ai";

          const client = new Together();


          const secret = await client.beta.jig.secrets.retrieve("my-secret");

          console.log(secret);

          '
      - lang: Shell
        label: cURL
        source: "curl -X GET \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/deployments/secrets/my-secret\n"
      parameters:
      - name: id
        in: path
        required: true
        schema:
          description: Secret ID or name
          type: string
      responses:
        '200':
          description: Secret details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponseItem'
        '404':
          description: Secret not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
    patch:
      description: Update an existing secret's value or metadata
      summary: Update a secret
      tags:
      - Secrets
      x-codeSamples:
      - lang: Python
        label: Together AI SDK (v2)
        source: 'from together import Together

          client = Together()


          client.beta.jig.secrets.update("my-secret", value="my-new-value")

          '
      - lang: TypeScript
        label: Together AI SDK (TypeScript)
        source: 'import Together from "together-ai";

          const client = new Together();


          await client.beta.jig.secrets.update("my-secret", { value: "my-new-value" });

          '
      - lang: JavaScript
        label: Together AI SDK (JavaScript)
        source: 'import Together from "together-ai";

          const client = new Together();


          await client.beta.jig.secrets.update("my-secret", { value: "my-new-value" });

          '
      - lang: Shell
        label: cURL
        source: "curl -X PATCH \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      --data '{ \"value\": \"my-new-value\" }' \\\n      https://api.together.ai/v1/deployments/secrets/my-secret\n"
      parameters:
      - name: id
        in: path
        required: true
        schema:
          description: Secret ID or name
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSecretRequest'
        description: Updated secret configuration
        required: true
      responses:
        '200':
          description: Secret updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponseItem'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Secret not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    ListSecretsResponse:
      properties:
        data:
          description: Data is the array of secret items
          items:
            $ref: '#/components/schemas/SecretResponseItem'
          type: array
        object:
          description: The object type, which is always `list`.
          const: list
      type: object
    UpdateSecretRequest:
      properties:
        description:
          description: Description is an optional human-readable description of the secret's purpose (max 500 characters)
          maxLength: 500
          type: string
        name:
          description: Name is the new unique identifier for the secret. Can contain alphanumeric characters, underscores, hyphens, forward slashes, and periods (1-100 characters)
          maxLength: 100
          minLength: 1
          type: string
        project_id:
          description: ProjectID is ignored - the project is automatically determined from your authentication
          type: string
        value:
          description: Value is the new sensitive data to store securely. Updating this will replace the existing secret value
          minLength: 1
          type: string
      type: object
    SecretResponseItem:
      properties:
        created_at:
          description: CreatedAt is the ISO8601 timestamp when this secret was created
          type: string
        created_by:
          description: CreatedBy is the identifier of the user who created this secret
          type: string
        description:
          description: Description is a human-readable description of the secret's purpose
          type: string
        id:
          description: ID is the unique identifier for this secret
          type: string
        last_updated_by:
          description: LastUpdatedBy is the identifier of the user who last updated this secret
          type: string
        name:
          description: Name is the name/key of the secret
          type: string
        object:
          description: The object type, which is always `secret`.
          const: secret
        updated_at:
          description: UpdatedAt is the ISO8601 timestamp when this secret was last updated
          type: string
      type: object
    CreateSecretRequest:
      properties:
        description:
          description: Description is an optional human-readable description of the secret's purpose (max 500 characters)
          maxLength: 500
          type: string
        name:
          description: Name is the unique identifier for the secret. Can contain alphanumeric characters, underscores, hyphens, forward slashes, and periods (1-100 characters)
          maxLength: 100
          minLength: 1
          type: string
        project_id:
          description: ProjectID is ignored - the project is automatically determined from your authentication
          type: string
        value:
          description: Value is the sensitive data to store securely (e.g., API keys, passwords, tokens). This value will be encrypted at rest
          minLength: 1
          type: string
      required:
      - name
      - value
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      x-bearer-format: bearer
      x-default: default
